@font-face {
    font-family: DinPro;
    src: url(../fonts/DINPro-Regular.otf);
}

@font-face {
    font-family: DinPro;
    src: url(../fonts/DINPro-Bold.otf);
    font-weight: bold;
}

.rating {
    margin: 0px 20px;
    top: 0px;
    padding: 0.2em 0.8em;
    text-transform: uppercase;
}


.totalItems{
    margin: 20px 10px;
}

.filterOrder{
    margin: 20px 0px;
}

.brand{
    background: rgba(0, 0, 0, 0) url("../assets/bpg_menu.png") no-repeat scroll center 70% / 100% auto;
    bottom: 0;
    display: block;
    height: 70px;
    margin: 5px 0 0;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
    transition: opacity 0.1s ease-out 0s;
    width: 120px;
    top: 15px;
}

.navbar-right{
    padding-left: 100px;
}

.navbar-default{
    z-index: 100;
    border: none;
    color: #000000;
    border-radius: 0px;
    padding: 35px;
}

.navbar-default .navbar-nav > li > a{
    padding: 5px 15px;
    background: transparent;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    transition-delay: 0s;
    color: white;
    font-family: DinPro;
}

.navbar-default .navbar-nav > li > a:link, .navbar-default .navbar-nav > li > a:visited{
    color: white;
    border: none;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #666666;
    background: white;
}

.affix-top{
    /*
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0.02) 99%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(70%,rgba(0,0,0,0.5)), color-stop(99%,rgba(0,0,0,0.02)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0.02) 99%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0.02) 99%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0.02) 99%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0.02) 99%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
    */
    transition: all 0.7s ease 0s;
    background: transparent;
}

.affix{
    background: #000000;
    width: 100%;
    transition: all 0.7s ease 0s;
}

#carousel-example-generic{
    margin-top: -10px;
}

header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

#banner-1{
    background-image: url("../assets/banner-inicial.jpg");
    background-size: cover;
    height: auto;
    width: 100%;
}

#banner-1-inner{
    background-image: url("../assets/bpg-intro.png");
    background-size: cover;
    height: auto;
    width: 100%;
}

#banner-2{
    background-image: url("../assets/banner-inicial.jpg");
    background-size: cover;
    height: auto;
    width: 100%;
}

.no-padding{
    padding: 0 !important;
}

.row{
    margin: 30px -15px;
}

.valores-high{
    font-size: 24px;
    color: #00264B;
}

.valores-list{
    font-size: 16px;
    color: #00264B;
}

.valores-row{
    padding: 30px;
}

hr{
    border: solid 1px #00254D;
}

.text-llamanos{
    padding-top: 40px;
    color: #00254D;
}

.secondary-text{
    color: #00254D;
}

.footer-contacto{
    height: 50px;
    color: white;
    padding-top: 20px;
}

.carousel-inner{
    z-index: 0;
}

#loading-page{
    background-color: #00254E;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    padding-top: 20%;
    z-index: 9999;
}

.loading-logo{
    display: block;
    margin: auto;
}

/********************************/

@media (max-width: 768px) {
    .navbar-default{
        padding: 10px;
    }

    .navbar-right{
        padding-left: 10px;
    }

    .valores-row{
        padding: 0px;
    }

    .affix-top{
        background-color: #000000;
    }
}

.header-padding{
    margin-top: 100px;
}