.fc-day-number{
    font-family: DinPro;
    color: #00254C;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    text-align: center !important;
}
.fc-sun{
    background-color: #ACADAF;
    color: #CED8E0;
    text-align: center;
}

.fc-day-header{
    color: white;
    text-transform: uppercase;
    background-color: #00254C;
    padding: 5px !important;
}

.fc-today.fc-state-highlight{
    background-color: #CED8E1;
    font-weight: bold;
}

.fc-event{
    background-color: #00254C;
    color: white;;
    border-color: #00254C;
    padding: 5px;
}

.fc-prev-button{
    background-color: #00254C;
}

.fc button{
    padding: 0 6.6em;
}

.fc-state-default{
    background: #00254C;
    color: white;
}

a.fc-event:link, a.fc-event:visited{
    color: white;
    text-decoration: none;
}