<div class="container-fluid no-padding">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>
    -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div id="banner-libreria" class="full-width-banner">
          <div id="banner-1-inner"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <img alt="libros itil" src="./assets/libreria/libros_itil.png" class="img img-responsive">
      </div>
      <div class="col-sm-7">
        <p> BPGurus es el <b>único distribuidor oficial</b> para México y Latinoamérica en libros pregunta por nuestros descuentos exclusivos.</p>
        <p>
        <h4>ITIL V3 Suite (2007 y/o 2011)</h4>
        <ul class="list">
          <li>ITIL Suite (2011 Edition)</li>
          <li>ITIL Suite (2007 Edition)</li>
          <li>ITIL Key Element Guides</li>
          <li>ITIL Training Aids/ Handbooks / Pocketbooks</li>
          <li>ITIL Complementary Title</li>
        </ul>
        <h4>ITIL Translations</h4>
        <ul class="list">
          <li>ITIL Suite (based on the 2007 English Edition)</li>
          <li>ITIL Intro and Handbooks</li>
        </ul>
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="background-color: #CFDDE5">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img alt="prince" src="./assets/libreria/libro_prince.png" class="img img-responsive">
        </div>
        <div class="col-sm-8">
          <h4>PRINCE2</h4>
          <p>
            <ul class="list">
              <li>PRINCE2 2009 Edition (PRojects IN Controlled Environments)</li><br>
          <li>PRINCE2 2005 Edition (PRojects IN Controlled Environments)</li><br>
          <li>Focus on Skills</li>
          <p>Focus on Skills: Series Suite (3 books)<br>
          Focus on Skills: Communication Skills for Project and Programme Managers<br>
          Focus on Skills: Leadership Skills for Project and Programme Managers<br>
          Focus on Skills: Team Managements Skills for Project and Programme Managers</p>
          <li>Other</li>
          <p>Bussines Benefits through Programme and Project Management<br>
          Managing Portfolios of Change (with MSP for Programmes and PRINCE2 for Projects)<br>
          Buying Software - ABest Practice Approach</p>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <img alt="libros itil msp" src="./assets/libreria/libros_msp.png" class="img img-responsive">
      </div>
      <div class="col-sm-7">
        <h4>MSP MOR, P3O and Mop</h4>
        <ul class="list">
          <li>P3O - Portfolio, Programme and Project Offices</li>
          <li>M_o_R - Management of Risk</li>
          <li>MoP - Management of Portfolios</li>
          <li>MoV - Management of Value</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="background-color: #CFDDE5">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img alt="msp skills" src="./assets/libreria/libros_msp_skills.png" class="img img-responsive">
        </div>
        <div class="col-sm-8">
          <h4>MSP MOR, P3O and MoP</h4>
          <h5>
          Focus on Skills
          </h5>
          <p>Focus on Skills: Series Suite (3 books)<br>
            Focus on Skills: Communication Skills for Project and Programme Managers<br>
            Focus on Skills: Leadership Skills for Project and Programme Managers<br>
            Focus on Skills: Team Managements Skills for Project and Programme Managers</p>
          <h5>Other</h5>
          <p>Bussines Benefits through Programme and Project Management<br>
            Managing Portfolios of Change (with MSP for Programmes and PRINCE2 for Projects)<br>
            Fundamentals of Benefit Realization</p>
          </p>
        </div>
      </div>
    </div>
  </div>

  <script type="application/javascript">
    function resizeBanner(height) {
      $(".full-width-banner").each(function (i, val) {
        $(val).css("height", height + "px");
      });
    }

    resizeBanner(window.innerHeight);

    $(window).resize(function () {
      resizeBanner(window.innerHeight);
    });

    $('.carousel').carousel({
      interval: 4000
    })
  </script>

</div>

<footer></footer>