<div class="container-fluid no-padding">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>
    -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div id="banner-2" class="full-width-banner">
        </div>
      </div>
    </div>

    <!-- Controls
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    -->
  </div>


  <div class="container">

    <hr>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                     aria-expanded="true" aria-controls="collapseOne">
                  TALLERES Implementación de Procesos
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <table class="table table-striped table-responsive">
                  <tr>
                    <td><img src="./assets/portafolio/cobit.png" class="img-responsive portafolio" alt="cobit"></td>
                    <td>
                      <p class="text-justify">El propósito de estos talleres es que los participantes identifiquen la
                        forma de implementar un
                        marco de trabajo de controles de TI (en específico procesos de COBIT - Control Objectives of
                        Information and Related Technology), con la finalidad de resolver esta necesidad a través de la
                        provisión de un marco de gobierno y control de tecnología de información aceptado
                        globalmente.</p>

                      <p class="text-justify">Es idóneo para que las personas involucradas en la evaluación de la
                        efectividad de los
                        controles de TI mejoren sus habilidades laborales y para conducir la tecnología de información
                        bajo los lineamientos de la alta gerencia.</p>

                      <p>
                        <a class="btn btn-info" href="./pdf/COBIT.pdf" target="_blank">+ información</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="./assets/portafolio/iso_20000.png" class="img-responsive portafolio" alt="iso 20000">
                    </td>
                    <td>
                      <p class="text-justify">Los talleres de ISO/IEC 20000 le ayudarán a reforzar los conceptos de la
                        gestión de servicios
                        de TI y los requerimientos mínimos a los que los prestadores de servicio deberían aspirar dentro
                        del contexto de ISO/IEC 20000. El participante aprenderá a implementar los procesos considerados
                        en el estándar de ISO/IEC 20000, su implementación orientada a la práctica en la forma de un
                        sistema de gestión, incluyendo las relaciones que tiene con otros estándares relevantes, mejores
                        prácticas y marcos de referencia</p>

                      <p>
                        <a class="btn btn-info" href="./pdf/ISO-IEC_20000-2011.pdf" target="_blank">+ información</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/itil.png" alt="itil" class=" img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">El propósito de estos talleres es capacitar al participante para conocer y
                        comprender los
                        diferentes elementos relacionados con la implementación de ITIL® edición 2011, proporcionando
                        ejercicios prácticos que refuercen y ejemplifiquen los conceptos expuestos por el
                        instructor.</p>

                      <p class="text-justify">Es idóneo para los profesionales de TI que deseen implementar un proceso
                        específico de ITIL® y
                        que tienen dudas acerca de ¿Por dónde empezar?, ¿Cuál es la secuencia de pasos a seguir?, ¿Cómo
                        lo hacemos? entre otras.</p>

                      <p>
                        <a class="btn btn-info" href="./pdf/ITIL_edicion_2011.pdf" target="_blank">+ información</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img class="img-responsive portafolio" src="./assets/portafolio/portafolio_serv.png"
                           alt="maagtic">
                    </td>
                    <td>
                      <p class="text-justify">El Manual Administrativo de Aplicación General en materia de Tecnologías
                        de Información y
                        Comunicaciones (MAAGTIC) es de reciente creación y tendrá que ser aplicado por todas las
                        dependencias del gobierno mexicano en específico para todas y cada una de las Unidades de
                        Tecnologías de Información y Comunicaciones (UTIC). Éste modelo pretende estandarizar la
                        operación de las TIC dentro de las instituciones del gobierno lo cual involucra de manera
                        general los procesos, documentación y terminología necesarios para mejorar la eficiencia y
                        efectividad de las operaciones de las TICs buscando mejores niveles de calidad en la entrega de
                        los Servicios TICs</p>

                      <p>
                        <a class="btn btn-info" href="./pdf/MAAGTIC.pdf" target="_blank">+ información</a>
                      </p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                     href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  CURSOS de Especialización
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <table class="table table-striped">
                  <tr>
                    <td><img src="./assets/portafolio/auditor-interno.png" class="img-responsive portafolio"
                             alt="auditor interno"></td>
                    <td>
                      <p class="text-justify">Este curso prepara a los auditores para realizar auditorías de primera y
                        segunda parte de
                        Sistemas de Gestión de Seguridad de la Información basados en ISO/IEC 27000.</p>

                      <p class="text-justify">Este programa de capacitación ayuda a los candidatos a mejorar
                        continuamente sus capacidades
                        personales, soportando así su desarrollo profesional continuo dentro de su organización.</p>

                      <p>
                        <a class="btn btn-info" href="./pdf/Auditor_Interno_basado_en_ISOIEC_27000.pdf" target="_blank">+
                          información</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/gestion_riesgos.png" alt="gestion de riesgos portafolio"
                           class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">El propósito del curso Gestión de Riesgos de TI es ayudar, orientar,
                        capacitar y comprobar que
                        el candidato tiene conocimiento para desarrollar e implementar dentro su organización un marco
                        de Gestión de Riesgos de TI con base en prácticas internacionales de gestión de riesgos de TI
                        que le permita identificar, evaluar y controlar riesgos relacionados con la seguridad de
                        información y con el uso de la tecnología que conforman los Servicios de TI.
                      </p>

                      <p class="text-justify">Analiza los riesgos y compara las perspectivas de los marcos de riesgos
                        para TI reconocidos
                        internacionalmente ISO/IEC 27005, ISO/IEC 31000, ISO/IEC 20000, BS25999, The RiskIT Framework
                        (ISACA) e ITIL®</p>

                      <p>
                        <a class="btn btn-info" href="./pdf/Gestion_de_Riesgos_de_TI.pdf" target="_blank">+
                          información</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/implementacion_itil.png" alt="implementacion itil"
                           class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">El propósito de este curso es capacitar al participante para conocer y
                        comprender los
                        diferentes elementos relacionados con la implementación de ITIL® V3, proporcionando ejercicios
                        prácticos que refuercen y ejemplifiquen los conceptos expuestos por el instructor.
                      </p>

                      <p class="text-justify">Es idóneo para los profesionales de TI que deseen implementar ITIL® y que
                        tienen dudas acerca
                        de ¿Por dónde empezar?, ¿Cuál es la secuencia de procesos a implementar?, ¿Cómo lo hacemos?
                        entre otras.</p>

                      <p>
                        <a class="btn btn-info" href="./pdf/Implementando_y_adoptando_ITIL_edicion_2011.pdf"
                           target="_blank">+ información</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/CMMI.png" alt="CMMI" class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">El curso presenta a gerentes y practicantes, miembros de equipos de
                        evaluación y equipos de
                        mejora de procesos los conceptos de CMMI® básicos. El modelo CMMI® para Desarrollo (CMMI®-DEV)
                        es una herramienta que ayuda a las organizaciones a mejorar su habilidad para desarrollar y
                        mantener productos y servicios de calidad.
                      </p>

                      <p class="text-justify">El curso está compuesto de lecturas y ejercicios en clase con amplia
                        oportunidad para preguntas
                        y discusiones de los participantes. Después de asistir al curso, los participantes podrán
                        describir los componentes del modelo CMMI®-DEV y sus relaciones, discutir las áreas de procesos
                        en el modelo CMMI®-DEV y localizar información relevante en el modelo.</p>

                      <p>
                        <a class="btn btn-info" href="./pdf/Introduccion_a_CMMI.pdf" target="_blank">+ información</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/portafolio_serv.png" alt="maagtic"
                           class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">El Manual Administrativo de Aplicación General en materia de Tecnologías
                        de Información y
                        Comunicaciones (MAAGTIC) es de reciente creación y tendrá que ser aplicado por todas las
                        dependencias del gobierno mexicano en específico para todas y cada una de las Unidades de
                        Tecnologías de Información y Comunicaciones (UTIC). Éste modelo pretende estandarizar la
                        operación de las TIC dentro de las instituciones del gobierno lo cual involucra de manera
                        general los procesos, documentación y terminología necesarios para mejorar la eficiencia y
                        efectividad de las operaciones de las TICs buscando mejores niveles de calidad en la entrega de
                        los Servicios TICs.
                      </p>

                      <p class="text-justify">En la medida en la que usted entienda la estructura del modelo y la
                        relación entre sus
                        diferentes componentes, tendrá una comprensión más clara de los beneficios que la correcta
                        aplicación de éste manual le puede traer a su institución, así como también entender
                        específicamente qué parte del modelo le puede ayudar a realizar mejoras en su operación. Algunos
                        de los beneficios esperados al aplicar éste modelo en las instituciones son: estandarización en
                        el uso de terminología, sustentos documentales, consistencia en la entrega de los Servicios
                        Tecnológicos, mejora en los niveles de calidad, eficiencia y efectividad en la operación.</p>

                      <p>
                        <a class="btn btn-info" href="./pdf/MAAGTIC.pdf" target="_blank">+ información</a>
                      </p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                     href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  CURSOS de Certificación
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <table class="table table-striped">
                  <tr>
                    <td>
                      <img src="./assets/portafolio/cobit.png" alt="cobit" class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">COBIT es un conjunto de buenas prácticas relacionadas con la gestión de TI
                        y objetivos de
                        control internacional, actualizado y reconocido, escrito para ejecutivos de negocio,
                        profesionales de TI y auditores de TI. Continúa su desarrollo como la guía y conjunto de
                        recursos líder para ayudar a las organizaciones a una mejor gestión de TI y proveer un marco
                        para implementar el Gobierno de TI.
                      </p>

                      <p class="text-justify">Estos cursos responden a la necesidad de guía sobre cómo implementar COBIT
                        para apoyar
                        iniciativas de gobernanza y prácticas de gestión de TI. Está basado en un ciclo de vida de
                        mejora continua diseñado para ser moldeado a las necesidades específicas de las empresas. Los
                        cursos proveen métodos para ayudar a guiar las actividades de implementación y es soportado por
                        casos de estudio.</p>

                      <p>
                        <button class="btn btn-info" type="button" data-toggle="modal" data-target="#cobitModal">+
                          información
                        </button>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/iso_20000.png" alt="iso 20000" class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">Los cursos de ISO/IEC 20000 presentan los conceptos de la gestión del
                        servicio de TI y los
                        requerimientos mínimos a los que los prestadores de servicio deberían aspirar dentro del
                        contexto de este estándar internacional. El participante aprenderá el estándar de ISO/IEC 20000,
                        su implementación orientada a la práctica en la forma de un sistema de gestión, incluyendo las
                        relaciones que tiene con otros estándares relevantes, mejores prácticas y marcos de referencia,
                        así como convertirse en auditor expertos en la materia.
                      </p>

                      <p class="text-justify">Algunos de los principales beneficios que se obtienen al implementar este
                        estándar en las
                        organizaciones son los siguientes:</p>
                      <ul>
                        <li>
                          Una gestión de servicios de TI enfocada a la calidad y mejora continua.
                        </li>
                        <li>
                          Una gestión de servicios de TI más efectiva y eficiente.
                        </li>
                        <li>Una mejor relación del negocio con clientes y proveedores.
                        </li>
                        <li>Una mayor competitividad del negocio.
                        </li>
                        <li>Una mayor satisfacción del cliente.
                        </li>
                      </ul>
                      <p>
                        <button class="btn btn-info" type="button" data-toggle="modal" data-target="#iso20000Modal">+
                          información
                        </button>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/iso_27000.png" alt="iso 27000" class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">El propósito de este curso es certificar que el participante ha adquirido
                        un conocimiento
                        fundamental de la Seguridad de la Información con base en la norma ISO/IEC 27002 en lo referente
                        a su terminología, estructura y conceptos básicos y ha comprendido los principios centrales de
                        las guías de implementación de los controles estipulados en la norma ISO/IEC 27002:2005 para la
                        Gestión de la Seguridad de la Información y los Sistemas de Gestión de la Seguridad de la
                        Información.</p>

                      <p>
                        <a class="btn btn-info" href="./pdf/Fundamentos_basado_en%20_ISOIEC_27002.pdf" target="_blank">+
                          información</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/itil.png" alt="itil" class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">Estos cursos le proveerán el conocimiento general y detallado del ciclo de
                        vida del servicio de
                        ITIL® el cual está representado en las cinco publicaciones centrales:
                      </p>
                      <ol>
                        <li>Estrategia del Servicio.
                        </li>
                        <li>Diseño del Servicio.
                        </li>
                        <li>Transición del Servicio.
                        </li>
                        <li>Operación del Servicio.
                        </li>
                        <li>Mejora continua del Servicio.
                        </li>
                      </ol>
                      <p class="text-justify">
                        El propósito de estos cursos es el generar un conocimiento sin precedente respecto a las mejores
                        prácticas planteadas en ITIL® y, como consecuencia, preparar al asistente para obtener las
                        diferentes certificaciones hasta llegar al nivel de ITIL® Expert. Nuestros cursos están
                        enfocados 100% en el aprendizaje y comprensión más que en solo buscar una certificación. Una vez
                        que el asistente logra comprender y tener una lógica de los procesos que componen el ciclo de
                        vida del servicio de acuerdo a ITIL®, los exámenes de certificación le parecerán sumamente
                        sencillos!!!</p>

                      <p>
                        <button class="btn btn-info" type="button" data-toggle="modal" data-target="#itilModal">+
                          información
                        </button>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/MOF.png" alt="MOF" class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">
                        El propósito de este curso es capacitar y orientar al participante para conocer y comprender la
                        Gestión de Operaciones del Servicio de TI y los elementos y conceptos esenciales del MOF,
                        proporcionando ejercicios prácticos que refuercen y ejemplifiquen los conceptos expuestos por el
                        instructor.
                      </p>

                      <p>
                        <a class="btn btn-info" href="./pdf/Fundamentos_MOF.pdf" target="_blank">+ información</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/PMP.png" alt="PMP" class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">
                        El propósito de este curso es certificar que el participante ha adquirido el conocimiento y ha
                        comprendido la terminología, estructura, conceptos, técnicas, herramientas y principios básicos
                        de las prácticas de PMP® para el éxito en la Gestión de Proyectos contenidos en la Guía de la
                        Gestión de Proyectos (PMBOK® Guide) Cuarta Edición del Project Management Institute (PMI)®.
                      </p>

                      <p class="text-justify">Asimismo, darle a conocer al participante los pasos que debe seguir para
                        ser un candidato
                        elegible para presentar el ‘Examen de Certificación PMP®’. Es idóneo para que el participante
                        desarrolle sus habilidades y competencias laborales en el área de Gestión de Proyectos.</p>

                      <p class="text-justify">Es idóneo para que el participante desarrolle sus habilidades y
                        competencias laborales en el
                        área de Gestión de ProyectosPMI, PMP y PMBOK son marcas registradas del Project Management
                        Institute, Inc
                      </p>

                      <p>
                        <a class="btn btn-info" target="_blank" href="./pdf/Profesional_en_Gestion_de_Proyectos_PMP.pdf">+ información</a>
                      </p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                     href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  CURSOS de Administración Empresarial y de TI
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                <table class="table table-striped">
                  <tr>
                    <td>
                      <img src="./assets/portafolio/actitud_servicio.png" alt="actitud de servicio"
                           class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">Este curso le proveerá del conocimiento sobre el impacto de la actitud en
                        el servicio y sus
                        resultados en la organización, partiendo del análisis de los siguientes puntos:
                      </p>
                      <ol>
                        <li>Qué es el servicio.
                        </li>
                        <li>
                          Elementos que componen el servicio.
                        </li>
                        <li>Las competencias personales.
                        </li>
                        <li>La inteligencia emocional.
                        </li>
                        <li>Enfoques del pensamiento.
                        </li>
                        <li>La calidad en el servicio como una ventaja competitiva.
                        </li>
                      </ol>
                      <p class="text-justify">
                        <a class="btn btn-info" href="./pdf/Actitud_de_servicio.pdf" target="_blank">+ información</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/adm_personal.png" alt="administracion de personal"
                           class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">Este curso le proveerá del conocimiento general sobre la importancia de la
                        correcta gestión del
                        tiempo, su importancia en la organización y el impacto de la mala utilización de éste.
                        Visualizar al tiempo como una herramienta eficiente y eficaz en la síntesis y orden de los
                        procesos productivos.
                      </p>
                      <ol>
                        <li>El tiempo como recurso no renovable.
                        </li>
                        <li>
                        </li>
                        <li>La importancia de la correcta gestión del tiempo.
                        </li>
                        <li>El impacto del tiempo en las organizaciones.
                        </li>
                        <li>Métodos de administración del tiempo.
                        </li>
                      </ol>
                      <p>
                        <a class="btn btn-info" href="./pdf/Administracion_del_personal_de_TI.pdf" target="_blank">+ información</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/adm_tiempo.png" alt="administracion del tiempo"
                           class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">Este curso le proveerá del conocimiento general sobre la administración de
                        recursos humanos,
                        siendo éste uno de los recursos vitales para el buen funcionamiento de una organización,
                        proporcionando las capacidades humanas requeridas al individuo, para ser lo más satisfactorio
                        posible así mismo y a la colectividad en la que se desenvuelve.
                      </p>
                      <ol>
                        <li>Qué es la administración del personal.
                        </li>
                        <li>
                          Importancia de la administración del personal.
                        </li>
                        <li>La capacitación del personal.</li>
                        <li>El reclutamiento y la selección del personal.
                        </li>
                      </ol>
                      </p>
                      <p>
                        <a class="btn btn-info" href="./pdf/Administracion_del_Tiempo.pdf" target="_blank">+ información</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/calidad_servicios.png" alt="calidad servicios"
                           class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">Este curso le proveerá del conocimiento sobre la importancia y el impacto
                        que tiene en las
                        organizaciones la calidad en el servicio, viéndolo como una ventaja competitiva y como factor
                        determinante para la preservación de los clientes.
                      </p>
                      <ol>
                        <li>El servicio como ventaja competitiva.
                        </li>
                        <li>Qué es la calidad en el servicio.
                        </li>
                        <li>Implicaciones de la calidad en el servicio.
                        </li>
                        <li>Importancia de la calidad en el servicio.</li>
                      </ol>
                      <p>
                        <a class="btn btn-info" href="./pdf/Calidad_en_Servicios_de_TI.pdf" target="_blank">+ información</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/desarrollo_lideres.png" alt="desarrollo lideres"
                           class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">Este curso le proveerá del conocimiento general sobre las características
                        y las competencias
                        que debe tener un líder, comprender las funciones y la responsabilidad del mismo para con la
                        organización y el personal.
                      </p>
                      <ol>
                        <li>Competencias de un líder.
                        </li>
                        <li>Funciones de un líder.
                        </li>
                        <li>Tipos de líderes.
                        </li>
                        <li>La empatía.
                        </li>
                        <li>Pensar como principiante.
                        </li>
                        <li>Responsabilidades de un líder.
                        </li>
                        <li>Importancia del liderazgo en la cultura organizacional.</li>
                      </ol>
                      <p>
                        <a class="btn btn-info" href="./pdf/Desarrollo_de_lideres_en_mejores_practicas.pdf" target="_blank">+ información</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/planeacion_estrategica.png" alt="planeacion estrategica"
                           class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">Este curso le proveerá del conocimiento general sobre los planes de acción
                        a seguir para lograr
                        los objetivos estratégicos respecto a sus Recursos Humanos dentro del departamento de
                        Tecnologías de Información, lo que implica definir y priorizar los problemas a resolver,
                        plantear soluciones, determinar los responsables para realizarlos, asignar recursos para
                        llevarlos a cabo y establecer la forma para medir los avances.</p>

                      <p>
                        <a class="btn btn-info" href="./pdf/Planeacion_estrategica_del_RRHH_y_de_TI.pdf" target="Planeacion_estrategica_del_RRHH_y_de_TI.pdf">+ información</a>
                      </p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                     href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  CONSULTORÍA
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                <table class="table table-striped">
                  <tr>
                    <td>
                      <img src="./assets/portafolio/adm_proyectos.png" alt="administracion de proyectos"
                           class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">
                        Los servicios de Administración de Proyectos de BP Gurus tienen como objetivo asegurar la
                        implementación exitosa de sus proyectos, asegurando el cumplimiento en tiempo, presupuesto,
                        recursos, alcance y calidad. Nuestra metodología se basa en prácticas del PMBoK® (Project
                        Management Body of Knowledge) del PMI® alineadas a proyectos de Gestión de Servicios de TI,
                        además de nuestra experiencia cosechada en distintos proyectos y todo tipo de industrias a lo
                        largo de Latinoamérica, permitiéndonos asegurar la planeación, organización, integración,
                        dirección y control de los proyectos.</p>

                      <p class="text-justify">Nuestra metodología se basa en los procesos recomendados por el PMBoK®,
                        los cuales se
                        distribuyen en las siguientes fases dentro de un proyecto:
                      </p>
                      <ol>
                        <li>Inicio.
                        </li>
                        <li>Planeación.
                        </li>
                        <li>Ejecución.
                        </li>
                        <li>Control.
                        </li>
                        <li>Cierre.
                        </li>
                      </ol>
                      <p>
                        <a class="btn btn-info" href="./pdf/Administracion_de_Proyectos.pdf" target="_blank">+ información</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/auditoria_interna.png" alt="auditoria interna"
                           class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">Nuestra solución de auditoría le permitirá identificar de manera objetiva
                        y rápida cuáles son
                        los avances de su proyecto, en qué punto se encuentra detenido, cuáles son las áreas de
                        oportunidad identificadas y, lo mejor de todo, cómo generar ímpetu en el proyecto para continuar
                        generando ganancias rápidas y evitar así, continuar desperdiciando recursos sin obtener nada a
                        cambio.</p>

                      <p class="text-justify">La auditoría aplicada por nuestros consultores expertos consiste en un
                        proceso sistemático que
                        le ayudará a obtener y evaluar objetivamente evidencias sobre sus proyectos e implementación de
                        procesos, con el fin de determinar el grado de correspondencia entre los resultados planteados
                        al inicio del proyecto y los logros o avances alcanzados, para luego comunicar los resultados a
                        las personas interesadas.</p>

                      <p class="text-justify">Auditorías disponibles:
                      <ol>
                        <li>Proyectos de implementación de ITIL®.</li>
                        <li>Proyectos de implementación de COBIT.</li>
                        <li>Proyectos de Implementación de acuerdo a ISO/IEC 20000.
                        </li>
                      </ol>
                      </p>
                      <p>
                        <a class="btn btn-info" href="./pdf/Aufitorias_Internas.pdf" target="_blank">+ información</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/cloud.png" alt="cloud" class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">Hoy en día las organizaciones han identificado que existen una serie de
                        nuevas herramientas y
                        conceptos tecnológicos que se han materializado en productos y servicios que ofrecen un conjunto
                        de ventajas significativas a las organizaciones, sin embargo, al mismo tiempo las organizaciones
                        han identificados que existen una serie de riesgos considerables al momento de hacer la
                        transferencia de sus servicios o una vez que los está operando, en este caso bajo los diferentes
                        modelos de Nube.</p>

                      <p class="text-justify">Asesórese con nuestros consultores expertos en TI y en mejores prácticas
                        los cuáles le ayudarán
                        a transferir o establecer las reglas de operación para cualquier modelo que usted desee utilizar
                        en la nube ya sea:
                      <ol>
                        <li>Software como servicio (SaaS, Software As A Service).</li>
                        <li>Plataforma como servicio (PaaS, Platform As A Service).</li>
                        <li>Infraestructura como servicio (IaaS, Infrastructure As A Service) Hardware como Servicio
                          (HaaS, Hardware As A Service).
                        </li>
                      </ol>
                      </p>
                      <p>
                        <a class="btn btn-info" target="_blank" href="./pdf/Transicion_y_operacion_de_Servicios_en_CLOUD.pdf">+ información</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/diagnosticos.png" alt="diagnosticos"
                           class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">¿Quiere comenzar a implementar procesos de acuerdo a las mejores prácticas
                        internacionales?</p>

                      <p class="text-justify">¿Ya ha implementado procesos de acuerdo a las mejores prácticas
                        internacionales pero no sabe
                        cuál es el nivel de madurez de sus procesos?</p>

                      <p class="text-justify">¿Está implementando procesos de acuerdo a las mejores prácticas
                        internacionales, su proveedor
                        de servicios de consultoría ya le hizo una evaluación de sus niveles de madurez y quiere una
                        segunda opinión más objetiva?</p>

                      <p class="text-justify">¿Ya terminó su proyecto de implementación y necesita validar si
                        efectivamente logró implementar
                        sus procesos de una manera adecuada?</p>

                      <p class="text-justify">Entonces está solución es la adecuada para usted.</p>

                      <p>
                        <a class="btn btn-info" href="./pdf/Diagnosticos.pdf" target="_blank">+ información</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/gestion_empresarial.png" alt="gestion empresarial"
                           class="img-responsive portafolio">
                    </td>
                    <td><p class="text-justify">
                      Nuestras soluciones de consultoría empresariales y de TI consisten en aplicar el conocimiento de
                      ambas áreas en el medio público y privado a través de nuestros consultores expertos en Recursos
                      Humanos y TI, ofreciendo a su vez servicios de asesoría, auditoria y asistencia técnica
                      contribuyendo en la solución de problemas de nuestros clientes y buscando el desarrollo de la
                      competitividad y el alto desempeño de las organizaciones a través de servicios de TI eficaces y
                      eficientes administrados por personal sumamente capacitado y calificado.</p>

                      <p class="text-justify">Mediante este tipo de consultoría logramos la vinculación con nuestros
                        clientes para la
                        transferencia del conocimiento, de manera que le permita generar soluciones eficaces y
                        eficientes de problemas para coadyuvar en la generación de ventajas competitivas.</p>

                      <p class="text-justify">Algunas de nuestras principales soluciones son:</p>

                      <p class="text-justify">
                      <ol>
                        <li>Elaboración de estructuras organizacionales de TI.
                        </li>
                        <li>Comunicación.
                        </li>
                        <li>Motivación dentro de áreas operativas de TI.
                        </li>
                        <li>Gestión Cultural y del cambio.
                        </li>
                        <li>Imagen del departamento de TI.
                        </li>
                      </ol>
                      </p>
                      <p>
                        <a class="btn btn-info" href="./pdf/Gestion_empresarial_y_de_TI_BPG.pdf" target="_blank">+ información</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="./assets/portafolio/implementacion_procesos.png" alt="implementacion de procesos"
                           class="img-responsive portafolio">
                    </td>
                    <td>
                      <p class="text-justify">
                        Con nuestros servicios de consultoría estratégica y/o tipo coaching lo asesoraremos con los
                        mejores consultores en el mercado en todas las etapas del proyecto de implementación, comenzando
                        por el diagnóstico del nivel de madurez de los procesos, pasando por el diseño e implementación
                        y, posteriormente apoyándolo en la mejora continua de los procesos.</p>

                      <p class="text-justify">Nuestros consultores son punto de referencia a nivel Latinoamérica para
                        implementar cualquier tipo de iniciativa de proyectos relacionados con las mejores prácticas. Al
                        mismo tiempo usted contará con un grupo de expertos en Gestión del Cambio y Cultura
                        Organizacional para implementar de manera integral su proyecto y evitar re-trabajos sumamente
                        costos en un futuro.</p>

                      <p class="text-justify">Proyectos de implementación de procesos de acuerdo a:
                      <ol>
                        <li>ITIL®.
                        </li>
                        <li>
                          COBIT.
                        </li>
                        <li>ISO/IEC 20000.</li>
                        <li>
                          MAAGTIC.
                        </li>
                      </ol>
                      </p>
                      <p>
                        <a class="btn btn-info" href="./pdf/Implementacion_y_adopcion_de_procesos.pdf" target="_blank">+ información</a>
                      </p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="cobitModal" tabindex="-1" role="dialog" aria-labelledby="cobitModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="cobitModalLabel">Cobit</h4>
          </div>
          <div class="modal-body">
            <p>
              <a class="btn btn-info btn-block" href="./pdf/COBIT_Fundamentos.pdf" target="_blank">COBIT Fundamentos</a>
            </p>

            <p>
              <a class="btn btn-info btn-block" href="./pdf/Implemenetando_Gobierno_Empresarial_de_TI_Usando_COBIT.pdf"
                 target="_blank">Implementando Gobierno Empresarial de TI Usando COBIT</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="iso20000Modal" tabindex="-1" role="dialog" aria-labelledby="iso20000ModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="iso20000ModalLabel">ISO / IEC 20000</h4>
          </div>
          <div class="modal-body">
            <p>
              <a class="btn btn-info btn-block" href="./pdf/Auditor_Interno_en_ITSM.pdf" target="_blank">Auditor Interno en
                ITSM</a>
            </p>

            <p>
              <a class="btn btn-info btn-block" href="./pdf/Auditor_y_consultor_asociado_en_ITSM.pdf" target="_blank">Auditor y
                Consultor Asociado en ITSM</a>
            </p>

            <p>
              <a class="btn btn-info btn-block" href="./pdf/Fundamentos.pdf" target="_blank">Fundamentos</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="itilModal" tabindex="-1" role="dialog" aria-labelledby="itilModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="itilModalLabel">ITIL</h4>
          </div>
          <div class="modal-body">
            <p>
              <a class="btn btn-info btn-block" href="./pdf/Acuerdos_y_Ofertas_de_Servicio_SOA.pdf" target="_blank">Acuerdos y Ofertas de Servicio SOA</a>
            </p>
            <p>
              <a class="btn btn-info btn-block" href="./pdf/Analisis_Soporte_y_Operacion_OSA.pdf" target="_blank">Analisis Soporte y Operacion OSA</a>
            </p>
            <p>
              <a class="btn btn-info btn-block" href="./pdf/Diseno_del_Servicio.pdf" target="_blank">Diseño del Servicio</a>
            </p>
            <p>
              <a class="btn btn-info btn-block" href="./pdf/Estrategia_del_Servicio.pdf" target="_blank">Estrategia del Servicio</a>
            </p>
            <p>
              <a class="btn btn-info btn-block" href="./pdf/Fundamentos_de_ITIL.pdf" target="_blank">Fundamentos de ITIL</a>
            </p>
            <p>
              <a class="btn btn-info btn-block" href="./pdf/Gestion_a_lo_largo_del_Ciclo_de_Vida_del_Servicio_MALC.pdf" target="_blank">Gestion a lo largo del Ciclo de Vida del Servicio MALC</a>
            </p>
            <p>
              <a class="btn btn-info btn-block" href="./pdf/Liberacion_Control_y_Validacion_RCV.pdf" target="_blank">Liberacion, Control y Validacion RCV</a>
            </p>
            <p>
              <a class="btn btn-info btn-block" href="./pdf/Mejora_Continua_del_Servicio_CSI.pdf" target="_blank">Mejora Continua del Servicio CSI</a>
            </p>
            <p>
              <a class="btn btn-info btn-block" href="./pdf/Operacion_del_Servicio.pdf" target="_blank">Operacion del Servicio</a>
            </p>
            <p>
              <a class="btn btn-info btn-block" href="./pdf/Planeacion_Proteccion_y_Optimizacion_PPO.pdf" target="_blank">Planeacion Protección y Optimización PPO</a>
            </p>
            <p>
              <a class="btn btn-info btn-block" href="./pdf/Transicion_del_Servicio.pdf" target="_blank">Transicion del Servicio</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script type="application/javascript">
    function resizeBanner(height) {
      $(".full-width-banner").each(function (i, val) {
        $(val).css("height", height + "px");
      });
    }

    resizeBanner(window.innerHeight);

    $(window).resize(function () {
      resizeBanner(window.innerHeight);
    });

    $('.carousel').carousel({
      interval: 4000
    })
  </script>

</div>

<footer></footer>